.searchBar {
  width: 100%;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  z-index: 1;
}

.searchInput {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.clearButton {
  position: absolute;
  right: 4px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearIcon {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .searchInput {
    font-size: 16px; /* Предотвращает зум на iOS */
  }
}
